<div class="splash-container">
  <img src="assets/splash/fondo.png" class="fondo" />
  <img src="assets/splash/icono.png" class="icono" />

  <!-- Engranajes -->
  <div class="engranajes">
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <img src="assets/splash/engranaje.png" class="engranaje" />
    <!-- puedes duplicar más si quieres más cantidad -->
  </div>

  <img src="assets/splash/nombre.png" class="titulo" />
  <img src="assets/splash/division.png" class="division" />
</div>