<ion-content>
  <div class="container">
    <button 
      class="alarm-button" 
      [class.active]="activo"
      [class.off]="!activo"
      (click)="toggleAlarma()"
    >
    <div class="alarm-text" *ngIf="activo">ALARMA ACTIVADA - ALARMA ACTIVADA</div> <!-- Texto que aparece cuando 'activo' es true -->
    <div class="alarm-text" *ngIf="!activo">ALARMA DESACTIVADA - ALARMA DESACTIVADA</div> <!-- Texto que aparece cuando 'activo' es true -->
    <img src="assets/home/icono.png" alt="Alarma" />
    </button>

    <button class="logout-button" (click)="logout()">
      <img src="assets/home/logout.png" alt="Logout">
    </button>
  </div>
</ion-content>
