<div class="splash-container">
  <img src="assets/splash/fondo.png" class="fondo" />
  
  <!-- Cámara -->
  <img src="assets/splash/icono.png" class="icono" />

  <!-- Flash (imagen de flash) -->
  <img src="assets/splash/flash.png" class="flash flash-1" />

  <!-- Nombre -->
  <img src="assets/splash/nombre.png" class="titulo" />

  <!-- Segundo Flash (imagen de flash) -->
  <img src="assets/splash/flash.png" class="flash flash-2" />

  <!-- División -->
  <img src="assets/splash/division.png" class="division" />

  <img src="assets/splash/flash.png" class="flash flash-3" />
</div>
