<div class="splash-container">
  <img src="assets/splash/fondo.png" class="fondo" />

  <img src="assets/splash/ladron.png" class="ladron" />
  <img src="assets/splash/policia.png" class="policia" />

  <!-- Elementos apilados verticalmente en orden -->
  <img src="assets/splash/nombre.png" class="nombre" />
  <img src="assets/splash/apellido.png" class="apellido" />
  <img src="assets/splash/icono.png" class="icono" />
  <img src="assets/splash/materia.png" class="materia" />
  <img src="assets/splash/division.png" class="division" />
</div>