ion-content {
    --background: #ffe09e;
  
    display: flex;
    justify-content: center;
    align-items: center;

    --padding-top: 0;
    --padding-bottom: 0;
  }

  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; // ocupa toda la altura de la pantalla
    width: 100%;
  }
  .register-link
  {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.2s ease;
    cursor: pointer;
  }

  .register-link:hover
  {
    color: #ff8622;
    text-decoration: underline;
  }

  .error-msg {
    color: #f44336; // rojo
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    font-weight: bold;
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: #1e1e1e;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.6s ease-out;
  }
  
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-button {
    margin-top: 20px;
    --background: #ffac68;
  }
  ion-button:hover{
    --background: #ff8622;
  }
  
  ion-item {
    --highlight-height: 2px;
    --highlight-color-focused: var(--ion-color-primary);
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-color-invalid: var(--ion-color-danger);
  }
  
  ion-label[position="floating"] {
    transition: all 0.15s ease-in-out;
  }
  
  ion-item.item-has-focus ion-label[position="floating"],
  ion-item.item-has-value ion-label[position="floating"] {
    transform: translateY(-4px) scale(0.85);
  }
  
  ion-item:not(.item-has-focus):not(.item-has-value) ion-label[position="floating"] {
    transform: translateY(0) scale(1);
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

