<ion-content [fullscreen]="true" class="home-content">
  <div class="center-container">
    <ion-card class="home-card">
      <ion-card-header>
        <ion-card-title class="welcome-text">
          Bienvenido {{ auth.usuario_actual?.email }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="button-wrapper">
          <ion-button expand="block" class="logout-btn" (click)="logout()">
            Cerrar Sesión
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>