<ion-content class="ion-padding" fullscreen>
  <div class="container">

    <!-- Botón 1 - Cosas LINDAS -->
    <button class="big-button top" routerLink="/cosas-lindas">
      <!-- La imagen ahora es background, opcionalmente puedes agregar texto -->
      <!-- <span>COSAS LINDAS</span> -->
    </button>

    <!-- Botón logout -->
    <button class="logout-button" (click)="logout()">
      <img src="assets/home/logout.png" alt="Cerrar sesión" />
    </button>

    <!-- Botón 2 - Cosas FEAS -->
    <button class="big-button bottom" routerLink="/cosas-feas">
      <!-- La imagen ahora es background, opcionalmente puedes agregar texto -->
      <!-- <span>COSAS FEAS</span> -->
    </button>

  </div>
</ion-content>