<ion-content class="ion-padding" fullscreen>
  <div class="container">

    <!-- Botón 1 - Cosas LINDAS -->
    <button class="big-button top">
      <img src="assets/home/lindo.png" alt="Lindo">
      <span>Cosas LINDAS del edificio</span>
    </button>

    <!-- Botón logout -->
    <button class="logout-button" (click)="logout()">
      <img src="assets/home/logout.png" alt="Cerrar sesión" />
    </button>

    <!-- Botón 2 - Cosas FEAS -->
    <button class="big-button bottom">
      <img src="assets/home/feo.png" alt="Feo">
      <span>Cosas FEAS del edificio</span>
    </button>

  </div>
</ion-content>
