<ion-content class="ion-padding fondo">
  <div class="titulo-principal">
    <h2>🧠 Bienvenido a Memotest App 🧠</h2>
  </div>

  <div class="card-container">
    <div class="card">
      <h1>Selecciona el nivel de dificultad:</h1>

      <div class="buttons">
        <button class="nivel-btn">
          <img src="assets/home/animales.png" alt="Animales" />
          <span>Fácil - 3 pares de animales</span>
        </button>

        <button class="nivel-btn">
          <img src="assets/home/herramientas.png" alt="Herramientas" />
          <span>Medio - 5 pares de herramientas</span>
        </button>

        <button class="nivel-btn">
          <img src="assets/home/frutas.png" alt="Frutas" />
          <span>Difícil - 8 pares de frutas</span>
        </button>
      </div>
    </div>
  </div>
</ion-content>
