<div class="splash-container">
  <img src="assets/splash/fondo.png" class="fondo" />
  
  <!-- Icono -->
  <img src="assets/splash/icono.png" class="icono" />
  
  <!-- Palabras que aparecen y desaparecen -->
  <div class="palabras-container">
    <div class="palabra palabra-1">hola</div>
    <div class="palabra palabra-2">hello</div>
    <div class="palabra palabra-3">bonjour</div>
    <div class="palabra palabra-4">olá</div>
    <div class="palabra palabra-5">привет</div>
    <div class="palabra palabra-6">你好</div>
    <div class="palabra palabra-7">こんにちは</div>
    <div class="palabra palabra-8">Γειά σου</div>
    <div class="palabra palabra-9">ciao</div>
    <div class="palabra palabra-10">hallo</div>
  </div>
  
  <!-- Nombre -->
  <img src="assets/splash/nombre.png" class="titulo" />
  
  <!-- División -->
  <img src="assets/splash/division.png" class="division" />
</div>
