<ion-content [fullscreen]="true" class="ion-padding">
<img src="assets/splash/fondo.png" class="fondo" />
  <div class="center-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="admin_email" type="email" formControlName="email"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">El correo es requerido</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Ingrese un correo válido</span>
          </div>
          
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="admin_password" type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span *ngIf="passwordControl?.errors?.['required']">La contraseña es obligatoria.</span>
            <span *ngIf="passwordControl?.errors?.['minlength']">Debe tener al menos 6 caracteres.</span>
            <span *ngIf="passwordControl?.errors?.['pattern']">Debe contener una mayúscula y un número.</span>
          </div>

          <div class="error-msg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
          
          <div class="ion-padding">
            <ion-button expand="block" (click)="login()">
              Ingresar
            </ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
    <div style="margin-top: 10px; display: flex; gap: 10px; justify-content: center;">
      <ion-button class="custom-button" (click)="accesoRapido(1)">Acceso rápido 1</ion-button>
      <ion-button class="custom-button" (click)="accesoRapido(2)">Acceso rápido 2</ion-button>
      <ion-button class="custom-button" (click)="accesoRapido(3)">Acceso rápido 3</ion-button>
    </div>
    <div style="margin-top: 10px; display: flex; gap: 10px; justify-content: center;">
      <ion-button class="custom-button" (click)="accesoRapido(0)">Borrar</ion-button>
    </div>
  </div>
  
</ion-content>

