<ion-content [fullscreen]="true" class="ion-padding">
  <img src="assets/splash/fondo.png" class="fondo" />
  
  <div class="main-container">
    <!-- Tarjeta de login -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="admin_email" type="email" formControlName="email"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">El correo es requerido</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Ingrese un correo válido</span>
          </div>
          
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="admin_password" type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span *ngIf="passwordControl?.errors?.['required']">La contraseña es obligatoria.</span>
            <span *ngIf="passwordControl?.errors?.['minlength']">Debe tener al menos 6 caracteres.</span>
            <span *ngIf="passwordControl?.errors?.['pattern']">Debe contener una mayúscula y un número.</span>
          </div>

          <div class="error-msg" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
          
          <div class="ion-padding">
            <ion-button expand="block" (click)="login()">
              Ingresar
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>

    <!-- Botones de acceso rápido en columna -->
    <div class="quick-access-buttons">
      <ion-button class="access-button" (click)="accesoRapido(1)">A1</ion-button>
      <ion-button class="access-button" (click)="accesoRapido(2)">A2</ion-button>
      <ion-button class="access-button" (click)="accesoRapido(3)">A3</ion-button>
      <ion-button class="delete-button" (click)="resetForm()">🗑️</ion-button>
    </div>
  </div>
</ion-content>