<ion-content class="ion-padding">
  <div class="lluvia-billetes">
    <img *ngFor="let n of billetes" src="assets/home/billete.png" class="billete" />
  </div>

  <div class="home-container">
    <h1>Bienvenido, {{ auth.usuario_actual?.email }}</h1>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Créditos Acumulados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>{{ creditos }}</h2>
      </ion-card-content>
    </ion-card>

    <ion-button color="success-custom" expand="block" (click)="escanearQR()">Escanear QR</ion-button>

    <ion-button expand="block" color="danger-custom" (click)="limpiarCreditos()">
      Limpiar Créditos
    </ion-button>

    <ion-button color="medium" expand="block" (click)="logout()">Cerrar sesión</ion-button>

    <div color="medium">
      <p>{{ mensaje }}</p>
    </div>

  </div>
</ion-content>
